body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(63, 63, 67);
}

.calculator {
    display: flex;
    flex-direction: column;
    width: 200px;   
    align-items: center;
    border: 2px solid;
    padding: 20px;
    background-color: rgb(95, 93, 93);
    border-radius: 10px;

}

#display {
    font-size: 2em;
    padding: 10px;
    text-align: right;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    background-color: #fff; 
    max-width: 190px;
   
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 15px;
    font-size: 1.5em;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 7px;
    cursor: pointer;
}

button:hover {
    background-color: #e0e0e0;
}

button:active {
    background-color: #d0d0d0;
}